/*------------------------FONT STYLES COLORS------------------*/
.yellowfont{
    color: #FBD000;
    font-family:'Modak', cursive;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.658);
}
/*------------------------FONT SIZES------------------*/
.bgfont{
    font-size: 30px;
}
.mdfont{
    font-size: 25px;
}
.smfont{
    font-size: 19px;
}
/*------------------------NAV ICON STYLE------------------*/
.fas.fa-bars{
    font-size: 28px;
    color: #FBD000;
    -webkit-text-stroke: 1px black;
}
/*------------------------NAV BAR STYLE------------------*/
.nav-item{
    margin-left: 12px;
}
.nav-link:hover{
    color: #049cd8;
    font-size: 24px;
}
.navbar-brand:hover{
    color: #049cd8;
}
/*------------------------BACKGROUND COLORS------------------*/
.bkgdblue{
    background-color:#049cd8;
}

.bkgdorg{
    background-color: #eb5e32;
}
/*------------------------BIG TITLE------------------*/
#bigtitle{
    margin-top: 30px;
    font-size: 90px;
}
/*------------------------mainpage mario pic------------------*/
.mainpicture{
    background: url(../images/mainpagemario.png) center center no-repeat;
    background-size: contain;
    height: 50vh;
}
/*------------------------intro------------------*/
#intro{
    background-color: #fcf7f8;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 15px;
}
#intro p{
    padding: 10px;
}
#mainscoreboard{display: none;}
#howtoplay{display: none;}
#contact{display: none;}

/*------------------------playgamebtn------------------*/
#playgamebtn{
    background-color: #fcf7f8;
    border: 1px solid black;
    margin: 20px;
    border-radius: 50%;
    font-size: 35px;
}