.yellowfont{
    color: #FBD000;
    font-family:'Modak', cursive;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.658);
}

.bgfont{
    font-size: 30px;
}

.smfont{
    font-size: 19px;
}
.fas.fa-bars{
    font-size: 28px;
    color: #FBD000;
    -webkit-text-stroke: 1px black;
}

.bkgdblue{
    background: color #049cd8;
}

.bkgdorg{
    background-color: #eb5e32;
}