/*------------------------FONT STYLES COLORS------------------*/
.yellowfont{
    color: #FBD000;
    font-family:'Modak', cursive;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgb(0, 0, 0);
}
/*------------------------FONT SIZES------------------*/
.bgfont{
    font-size: 30px;
}
.mdfont{
    font-size: 25px;
    font-weight: bold;
}
.smfont{
    font-size: 20px;
}
/*------------------------NAV ICON STYLE------------------*/
.fas.fa-bars{
    font-size: 28px;
    color: #FBD000;
    -webkit-text-stroke: 1px black;
}
/*------------------------NAV BAR STYLE------------------*/
.nav-item{
    margin-left: 12px;
}
.nav-link:hover{
    color: #049cd8;
    font-size: 24px;
}
.navbar-brand:hover{
    color: #049cd8;
}
.active{
    color: #049cd8;
}
/*------------------------BACKGROUND COLORS------------------*/
.bkgdblue{
    background-color:#049cd8;
}

.bkgdorg{
    background-color: #eb5e32;
}
/*------------------------BIG TITLE------------------*/
#bigtitle{
    margin-top: 30px;
    font-size: 90px;
}

@media screen and (max-width: 650px){
    #bigtitle{
        font-size: 40px;
    }
}
/*------------------------mainpage mario pic------------------*/
.mainpicture{
    background: url(../images/mainpagemario.png) center center no-repeat;
    background-size: contain;
    height: 50vh;
}
/*------------------------intro------------------*/
#intro{
    background-color: #fcf7f8;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 15px;
}
#intro p{
    padding: 10px;
}
/*------------------------scoreboard------------------*/
#mainscoreboard{
    display: none;
    background-color: #fcf7f8;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 15px;
}
/*------------------------how to play ------------------*/
#howtoplay{
    display: none;
    background-color: #fcf7f8;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 15px;
}
/*------------------------contact------------------*/
#contact{
    display: none;
    background-color: #fcf7f8;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 15px;
}

#contactsubmitbtn{
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}
#contactsubmitbtn:hover{
    font-size: 28px;
    color: #eb5e32;
}

/*------------------------playgamebtn------------------*/
#playgamebtn{
    background-color: #fcf7f8;
    border: 1px solid black;
    margin: 20px;
    border-radius: 50%;
    font-size: 35px;
}
#playgamebtn:hover{
    font-size: 45px;
    color: #eb5e32;
}